<div class="container">

    <div class="row">

        <div class="card-trip new">

            <div class="col-md-12 p-5">

<%= render 'form', emmend: @emmend %>

<br>

<div>
  <center><%= link_to 'Mais Detalhes', @emmend %></center>
</div>

<div>
  <center><%= link_to 'Voltar', emmends_path %></center>
</div>

</div>
</div>
</div>
</div>
