<div class="container mt-3">

<h1>página do usuário!</h1>
<%= link_to 'Nova Emenda', new_emmend_path %>

<div class="card-trip">
 <div class="card-trip-infos">
    <div>
    <img class="card-trip-user avatar-bordered" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/vcanna" />
    <br>
    <h2>Nome</h2>
    <p>Descrição</p>
    <br>
    <button class="btn btn-flat" type="submit">Criar</button>
    </div>
 </div>
</div> 
<br>  
<br>
<div class="card-trip">
 <div class="card-trip-infos text-center">
    <div>
    <h2>Buscar</h2>
    <p>Descrição</p>
    <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2 ml-3" width="8px" type="search" placeholder="Tema" aria-label="Search">
         <br>
         <br>
         <button class="btn btn-flat-search" type="submit">Buscar</button>
    </form>
    <br>
    </div>
 </div>
</div>   
</div>