<div class="container">
  <div class="row">
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-3 p-4">
          <div class="card-trip">
            <div class="card-trip-infos ml-2">
              <div>
                  <img class="card-trip-user avatar-bordered" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/vcanna" />
                  <br>
                  <h2>Victor</h2>
                  <p>(Servidor)</p>
                  <br>
                  <%= link_to 'Criar', new_emmend_path, class: "btn btn-flat" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <% if @user_created.any? %>
            <% @user_created.each do |emmend| %>
            <div class="card-trip">
              <div class="text-trip mr-4">
                <div class="row">
                  <div class="col-md-4">
                  <h6><center>
                  <%= emmend.name %>
                  </center></h6>
                  <br>
                  <%= emmend.description %>
                  </div>
                  <div class="col-md-8">
                  <%= "#{emmend.supports.count} número de curtidas"%>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <br>
            <% end %>
          <% else %>
              <p>
              Hora de criar emendas!
              </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
