
<div class="banner-bg">
  <div class="banner">
    <div class="banner-info mt-5">
      <h1>Faça a sua<span>emenda decolar!</span></h1>
      
      <p>
          Participe, opine e discuta sobre questões inerentes a atividades políticas governamentais.Exerça a cidadania e consolide a ideia de uma gestão democrática de tudo o que é público, por meio da maior interação entre governo e sociedade. Relate e fortaleça o engajamento nas questões políticas locais e nacionais, por meio de apoio às emendas que são importantes para você, sua comunidade, sua cidade, seu estado e para o Brasil.
      </p>

      <h2>Em breve, disponível também em Android e iOS.</h2>
      <h3>*App estará disponível nos 26 estados e no Distrito Federal. Mais novidades estão por vir.</h3>

    </div>

    <%= image_tag "home", class: "banner-img" %>

  </div>
</div>

